<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="./stylesheets/styles.css" />
  </head>
  <body>
    <!-- PANEL -->
    <header>
      <h1>Dashboard</h1>
      <div id="userInfo">
        <p>User's email</p>
        <a href="#">Logout</a>
      </div>
    </header>
    <!-- WIDGETS -->

    <div id="wrapper">
      <div class="widget" id="counter">
        <p>Right Now</p>
        <h1 id="currentCount"><%= data.userCount %></h1>
        <p>active visitors on the site</p>
      </div>

      <div class="widget" id="widget2">
        <h1>Top Active Pages:</h1>
        <table id="activePage">
          <thead>
            <tr>
              <th>Active Page</th>
              <th>Active Visitors</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add 10 rows here with data -->
          </tbody>
        </table>
      </div>

      <div class="widget" id="widget3">
        <h1>Top Referrals:</h1>
        <table>
          <thead>
            <tr>
              <th>Source</th>
              <th>Active Visitors</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add 10 rows here with data -->
          </tbody>
        </table>
      </div>

      <!-- User by Device Widget -->
      <div class="widget" id="widget4">
        <h1>Users by Device Type:</h1>
        <table>
          <thead>
            <tr>
              <th>Device</th>
              <th>Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Desktop</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Mobile</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Tablet</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- UTM Widgets -->
      <div class="widget" id="widget5">
        <h1>UTM Source:</h1>
        <table>
          <thead>
            <tr>
              <th>utm-name</th>
              <th>sessions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add rows for UTM Source data here -->
          </tbody>
        </table>
      </div>

      <div class="widget" id="widget6">
        <h1>UTM Medium:</h1>
        <table>
          <thead>
            <tr>
              <th>utm-name</th>
              <th>sessions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add rows for UTM Medium data here -->
          </tbody>
        </table>
      </div>

      <div class="widget" id="widget7">
        <h1>UTM Campaign:</h1>
        <table>
          <thead>
            <tr>
              <th>utm-name</th>
              <th>sessions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add rows for UTM Campaign data here -->
          </tbody>
        </table>
      </div>

      <div class="widget" id="widget8">
        <h1>UTM Term:</h1>
        <table>
          <thead>
            <tr>
              <th>utm-name</th>
              <th>sessions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add rows for UTM Term data here -->
          </tbody>
        </table>
      </div>

      <div class="widget" id="widget9">
        <h1>UTM Content:</h1>
        <table>
          <thead>
            <tr>
              <th>utm-name</th>
              <th>sessions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add rows for UTM Content data here -->
          </tbody>
        </table>
      </div>

      <div class="widget" id="widget10">
        <h1>Country: </h1>
        <table>
          <thead>
            <tr>
              <th>Country</th>
              <th>sessions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add rows for UTM Content data here -->
          </tbody>
        </table>
      </div>

      <div class="widget" id="widget11">
        <h1>Lead source name:</h1>
        <table>
          <thead>
            <tr>
              <th>source</th>
              <th>sessions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Add rows for UTM Content data here -->
          </tbody>
        </table>
      </div>

      
    </div>
  </body>

  <script>
    // TODO realtime functionalities for all widgets in file
    // TODO create database and connect it with backend and frontend
    // TODO add server logic to format this
    // TODO create safe authentication
    // TODO Database exporting as logs download

    // Connect to socket
    const socket = new WebSocket("ws://localhost:8082", "dashboard");
    // Add message
    socket.onmessage = (event) => {
      try {
        const data = JSON.parse(event.data);

        // Set count of users, regardless of the type of the message
        // Updating userCount
        updateUserCount(data.currentCount);

        if (data.msg && data.msg.type !== undefined && data.msg.type === "clientJoin" )  {
          // Adding data to widgets.
          // Add data to Top Active Pages:
          addTopActivePages(data.msg.currentURL);

            /*data.msg.currentURL,
            data.msg.referrerURL,
            data.msg.timestamp,
            data.msg.utmMedium,
            data.msg.utmSource,
            data.msg.utmCamp,
            data.msg.utmTerm,
            data.msg.utmContent,
            data.msg.userAgent,
            data.msg.leadSourceName,
            data.msg.isFirstVisit,
            data.msg.platform,
            data.msg.country*/
          
        }

        // TODO remove data
      } catch (error) {
        console.error("Error processing message:", error);
      }
    };

    // RIGHT NOW BLOCK
    function updateUserCount(newCount) {
      const userCountElement = document.getElementById("currentCount");
      userCountElement.innerText = newCount || "no data";
    }
    // ENDBLOCK

    // Top Active pages BLOCK
    const activePages = []; 
    


    function createOrUpdate(url, newValue, id) {
      const table = document.getElementById(id);
    
      // Find the row with the matching URL, if it exists
      let rowIndex = -1;
      for (let i = 1; i < table.rows.length; i++) {
        if (table.rows[i].cells[0].textContent === url) {
          rowIndex = i;
          break;
        }
      }
    
      if (rowIndex >= 0) {
        // Row with the URL exists, update it
        const row = table.rows[rowIndex];
        if (row.cells[1]) {
          row.cells[1].textContent = newValue;
        } else {
          console.error("User count cell not found in the row.");
        }
      } else {
        // Row with the URL doesn't exist, create a new one
        const newRow = table.insertRow();
        const urlCell = newRow.insertCell(0);
        const userCountCell = newRow.insertCell(1);
    
        urlCell.textContent = url;
        userCountCell.textContent = newValue;
      }
    }
    
    function addTopActivePages(url) {
      const content = "/" + url.split("/").slice(3).join("/");
    
      if (url) {
        // Check if url already in table
        let found = false; // Flag to check if the URL is found
    
        activePages.forEach((page, index) => {
          if (page.url === content) {
            page.user++;
            createOrUpdate(content, page.user, "activePage", index + 1);
            found = true; // Set the flag to true
          }
        });
    
        // If the URL wasn't found, add a new entry
        if (!found) {
          activePages.push({
            url: content,
            user: 1,
          });
          createOrUpdate(content, 1, "activePage");
        }
      }
    }
    
    function removeTopActivePages(url) {
      const content = "/" + url.split("/").slice(3).join("/");
    
      // Find the page with the matching URL
      const index = activePages.findIndex((page) => page.url === content);
    
      if (index !== -1) {
        const page = activePages[index];
        page.user--;
    
        if (page.user <= 0) {
          // If the user count is zero or less, remove the entry from the array
          activePages.splice(index, 1);
          // Remove the corresponding row from the table
          const table = document.getElementById("activePage");
          createOrUpdate(content, 0, "activePage", index + 1);
        } else {
          // Update the DOM with the new user count
          createOrUpdate(content, page.user, "activePage", index + 1);
        }
      }
    }
    

  </script>
</html>
