<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
        <link
      rel="stylesheet"
      href="./stylesheets/styles.css"
    />
    
  </head>
  <body>
    <!-- PANEL -->
    <header>
      <h1>Dashboard</h1>
      <div id="userInfo">
        <p>User's email</p>
        <a href="#">Logout</a>
      </div>
    </header>
    <!-- WIDGETS -->

    <div id="wrapper">
    <div class="widget" id="counter">
      <p>Right Now</p>
      <h1 id="currentCount"><%= data.userCount %></h1>
      <p>active visitors on the site</p>
    </div>
    
    <div class="widget" id="widget2">
      <h1>Top Active Pages:</h1>
      <table>
        <thead>
          <tr>
            <th>Active Page</th>
            <th>Active Visitors</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add 10 rows here with data -->
        </tbody>
      </table>
    </div>
  
    <div class="widget" id="widget3">
      <h1>Top Referrals:</h1>
      <table>
        <thead>
          <tr>
            <th>Source</th>
            <th>Active Visitors</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add 10 rows here with data -->
        </tbody>
      </table>
    </div>
  
    <!-- User by Device Widget -->
    <div class="widget" id="widget4">
      <h1>Users by Device Type:</h1>
      <table>
        <thead>
          <tr>
            <th>Device</th>
            <th>Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Desktop</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Tablet</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- UTM Widgets -->
    <div class="widget" id="widget5">
      <h1>UTM Source:</h1>
      <table>
        <thead>
          <tr>
            <th>utm-name</th>
            <th>sessions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add rows for UTM Source data here -->
        </tbody>
      </table>
    </div>
  
    <div class="widget" id="widget6">
      <h1>UTM Medium:</h1>
      <table>
        <thead>
          <tr>
            <th>utm-name</th>
            <th>sessions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add rows for UTM Medium data here -->
        </tbody>
      </table>
    </div>
  
    <div class="widget" id="widget7">
      <h1>UTM Campaign:</h1>
      <table>
        <thead>
          <tr>
            <th>utm-name</th>
            <th>sessions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add rows for UTM Campaign data here -->
        </tbody>
      </table>
    </div>
  
    <div class="widget" id="widget8">
      <h1>UTM Term:</h1>
      <table>
        <thead>
          <tr>
            <th>utm-name</th>
            <th>sessions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add rows for UTM Term data here -->
        </tbody>
      </table>
    </div>
  
    <div class="widget" id="widget9">
      <h1>UTM Content:</h1>
      <table>
        <thead>
          <tr>
            <th>utm-name</th>
            <th>sessions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add rows for UTM Content data here -->
        </tbody>
      </table>
    </div>
  </div>
  </body>
  
  <script>

    // TODO realtime functionalities for all widgets in file
    // TODO create database and connect it with backend and frontend
    // TODO add server logic to format this
    // TODO create safe authentication
    // TODO Database exporting as logs download


    // Connect to socket
    const socket = new WebSocket("ws://localhost:8082", "dashboard");
    // Add message
    socket.onmessage = (event) => {
      try {
        const data = JSON.parse(event.data);

        // Set count of users, regardless of the type of the message
        updateUserCount(data.currentCount);

        if (data.msg && data.msg.type !== undefined && data.msg.type === "clientJoin") {
          addUser(
            data.msg.currentURL,
            data.msg.referrerURL,
            data.msg.timestamp,
            data.msg.utmMedium,
            data.msg.utmSource,
            data.msg.utmCamp,
            data.msg.utmTerm,
            data.msg.utmContent,
            data.msg.userAgent,
            data.msg.leadSourceName,
            data.msg.isFirstVisit,
            data.msg.platform,
            data.msg.country
          );
          console.log(data.msg.country);
        }
      } catch (error) {
        console.error("Error processing message:", error);
      }
    };
    // Updates the DOM
    function updateUserCount(newCount) {
      const userCountElement = document.getElementById("currentCount");
      userCountElement.innerText = newCount || "no data";
    }

    // Updates the DOM and refreshes the list in real-time
    function addUser(
      currentURL,
      referrerURL,
      timestamp,
      utmMedium,
      utmSource,
      utmCamp,
      utmTerm,
      utmCont,
      userAgent,
      leadSourceName,
      isFirstVisit,
      platformz,
      country,
    ) {
      const rowTemplate = document.getElementById("userTemplate").content;
      const tableBody = document.getElementById("tableBody");
      // Clone and update the DOM
      const newRow = document.importNode(rowTemplate, true);
      newRow.querySelector(".currentURL").textContent = currentURL;
      newRow.querySelector(".refferURL").textContent = referrerURL;
      newRow.querySelector(".timestamp").textContent = timestamp;
      newRow.querySelector(".utm_m").textContent = utmMedium || "null";
      newRow.querySelector(".utm_s").textContent = utmSource || "null";
      newRow.querySelector(".utm_camp").textContent = utmCamp || "null";
      newRow.querySelector(".utm_term").textContent = utmTerm || "null";
      newRow.querySelector(".utm_cont").textContent = utmCont || "null";
      newRow.querySelector(".userAgent").textContent = userAgent;
      newRow.querySelector(".lsn").textContent = leadSourceName || "null";
      newRow.querySelector(".visit").textContent = isFirstVisit;
      newRow.querySelector(".platform").textContent = platformz || "null";
      newRow.querySelector(".country").textContent = country;

      // Add to the DOM
      tableBody.insertBefore(newRow, tableBody.firstChild);
    }
  </script>
